.button-disabled[data-v-a552f962] {
    cursor: default
}

.btn-visibility-none[data-v-a552f962] {
    visibility: hidden
}

.btn-loader-position[data-v-a552f962] {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.button-icon-start[data-v-a552f962] {
    margin-right: 5px
}

.button-icon-end[data-v-a552f962] {
    margin-left: 5px
}